@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  font: 62.5%;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flip-words {
  font-family: inherit !important;
  margin: 0px !important;
}

.parent {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container {
  max-width: 1250px;
  padding: 32px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  scroll-snap-align: start;
}

.theme-btn {
  position: absolute;
  top: 125px;
  right: 125px;
}

.projects {
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-height: 100vh;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.projects-item {
  /* width: 100%; */
  height: auto;

  border: solid 2px grey;
}

.header {
  overflow: hidden;
}
.hi-msg {
  font-size: 75px;
  text-align: start;
  font-weight: 700;
  margin: 240px 0 6px;
}

svg {
  width: 45px;
  height: 45px;
  margin: 2.5px;
}

.btn-linkedin {
  font-size: 22px;
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #817f7f;
  border-radius: 60px;
  position: absolute; /* Change to fixed */
  bottom: 24px; /* Position it at the bottom */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Center alignment adjustment */
  /* margin: 0 auto 42px; */
}

.mouse::before {
  content: "";

  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

/* Hide scrollbar for specific element */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.section--form {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #524f4f;
  line-height: 24px;
}

.social-links {
  display: flex;
  gap: 10px;
}

.footer a {
  text-decoration: underline;
  text-underline-offset: 2.5px;
}

@media (max-width: 677px) {
  html,
  body {
    scroll-behavior: smooth;
  }

  .theme-btn {
    position: absolute;
    top: 35px;
    right: 35px;
  }

  .projects {
    padding: 0;
    height: 100vh;
    gap: 9px;
    overflow-y: scroll;
    align-items: center;
  }

  .projects-item {
    height: 100%;
  }

  .hi-msg {
    margin-top: 64px;
    margin-bottom: 0px;
    line-height: 1.2;
  }

  .hi-msg span {
    display: inline-block;
  }

  .btn-linkedin {
    padding: 7px 24px;
    font-size: 18px;
  }
  .linkedin {
    margin: 25px 0 0 0;
  }

  .mouse {
    width: 37.5px;
    height: 67.5px;
    margin-bottom: 90px;
  }

  .mouse::before {
    width: 9px;
    height: 9px;
  }
}

@media (max-width: 409px) {
  .hi-msg span {
    display: inline;
  }
}
